@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap");
body {
  background: #ffff; }

.center {
  margin-left: auto;
  margin-right: auto; }

#contactoHeaderIndex {
  margin-top: 30px; }
  #contactoHeaderIndex .Cont {
    background: #FD9830; }
    #contactoHeaderIndex .Cont .contenido {
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 80px; }
      #contactoHeaderIndex .Cont .contenido a {
        font-family: "Noto Sans", sans-serif;
        font-weight: 700;
        color: #FD9830;
        text-decoration: none;
        border: 1px solid #ffff;
        border-radius: 20px;
        padding: 10px;
        background-color: #F4F5F5; }
        #contactoHeaderIndex .Cont .contenido a:hover {
          opacity: 0.9; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

#nosotros .sectionHeader .nosotros__title h2, #alumnos .sectionHeader .alumnos__title h2, #docentes .sectionHeader .docentes__title h2 {
  font-family: "Fjalla One", sans-serif;
  font-size: 2.3em;
  text-align: center;
  color: #ffff; }

#nosotros .sectionHeader .nosotros__text p, #alumnos .sectionHeader .alumnos__text p, #docentes .sectionHeader .docentes__text p {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 2.2em;
  text-align: center;
  color: #141414;
  white-space: pre-line; }

#nosotros .sectionContent .nosTeamCards h2 {
  font-family: "Fjalla One", sans-serif;
  font-size: 2em;
  text-align: center;
  color: #1A83DE; }

#alumnos .sectionContent .alumnos__cards .alumnosCardsContainer .aluCard .btn button, #docentes .sectionContent .docentes__cards .docentesCardsContainer .docCard .btn button {
  border: 1px solid #FD9830;
  border-radius: 15px;
  background-color: #FD9830; }
  #alumnos .sectionContent .alumnos__cards .alumnosCardsContainer .aluCard .btn button:hover, #docentes .sectionContent .docentes__cards .docentesCardsContainer .docCard .btn button:hover {
    border: #1A83DE;
    background-color: #1A83DE; }

.btn_a {
  text-decoration: none;
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  color: #ffff;
  text-transform: uppercase; }
  .btn_a:hover {
    color: #ffff; }

header {
  top: 0;
  z-index: 5; }
  header .navbar {
    background-color: #ffff;
    border-bottom: 0.25em solid #FD9830; }
    header .navbar .container-fluid .navbar-brand img {
      width: 2.813em; }
    header .navbar .container-fluid #navbarNavDropdown .navbar-nav .nav-item a {
      font-family: "Noto Sans", sans-serif;
      font-weight: 700;
      color: #1A83DE;
      text-transform: uppercase; }

@media screen and (min-width: 992px) {
  header .navbar .container-fluid #navbarNavDropdown .navbar-nav .nav-item a:hover {
    border: 0.063em solid #00B0EF;
    border-radius: 20px;
    -webkit-box-shadow: 1px -9px 14px -7px #fd9830;
    -moz-box-shadow: 1px -9px 14px -7px #fd9830;
    box-shadow: 1px -9px 14px -7px #fd9830;
    color: #FD9830; }
  header .navbar .container-fluid #navbarNavDropdown .navbar-nav .dropdown .dropdown-menu .dropdown-item {
    border: none;
    box-shadow: none; } }

#hero {
  margin-top: 7.313em; }
  #hero .heroContainer {
    padding-top: 14.688em; }
    #hero .heroContainer .heroBackground {
      display: flow-root;
      background: #FFD5AD;
      height: 60vh; }
      #hero .heroContainer .heroBackground .heroContentContainer {
        margin-left: auto;
        margin-right: auto;
        padding-left: 0.938em;
        padding-right: 0.938em;
        display: flex;
        flex-wrap: wrap; }
        #hero .heroContainer .heroBackground .heroContentContainer .heroIMG {
          position: relative;
          top: -12.188em; }
          #hero .heroContainer .heroBackground .heroContentContainer .heroIMG img {
            width: 18.75em;
            max-width: 100%;
            height: auto;
            animation: fadeIn 4s; }
        #hero .heroContainer .heroBackground .heroContentContainer .heroText {
          position: relative;
          top: -6.25em;
          text-align: center; }
          #hero .heroContainer .heroBackground .heroContentContainer .heroText p {
            font-family: "Noto Sans", sans-serif;
            font-weight: 700;
            font-size: 1.5em;
            color: #1A83DE; }
            #hero .heroContainer .heroBackground .heroContentContainer .heroText p:hover {
              color: #7FBBF0; }
          #hero .heroContainer .heroBackground .heroContentContainer .heroText h1 {
            font-family: "Fjalla One", sans-serif;
            font-size: 2.5em;
            color: #141414; }
            #hero .heroContainer .heroBackground .heroContentContainer .heroText h1:hover {
              color: #ffff; }

@media screen and (min-width: 640px) {
  #hero .heroContainer .heroBackground .heroContentContainer .heroIMG img {
    width: 23.75em; } }

@media screen and (min-width: 960px) {
  #hero .heroContainer {
    padding-top: 5.688em; }
    #hero .heroContainer .heroBackground {
      margin-left: 7.75em;
      margin-right: 7.75em; }
      #hero .heroContainer .heroBackground .heroContentContainer {
        flex-wrap: nowrap; }
        #hero .heroContainer .heroBackground .heroContentContainer .heroIMG {
          top: 7.812em;
          right: 7em; }
          #hero .heroContainer .heroBackground .heroContentContainer .heroIMG img {
            width: 48.75em; }
            #hero .heroContainer .heroBackground .heroContentContainer .heroIMG img:hover {
              opacity: 0.8; }
        #hero .heroContainer .heroBackground .heroContentContainer .heroText {
          top: 6.75em;
          right: 3em; }
          #hero .heroContainer .heroBackground .heroContentContainer .heroText p {
            font-size: 2em; }
          #hero .heroContainer .heroBackground .heroContentContainer .heroText h1 {
            font-size: 3em;
            line-height: 1.5em; } }

@media screen and (min-width: 1200px) {
  #hero .heroContainer {
    padding-top: 0.688em; }
    #hero .heroContainer .heroBackground {
      margin-left: 8.75em;
      margin-right: 8.75em; }
      #hero .heroContainer .heroBackground .heroContentContainer {
        flex-wrap: nowrap;
        padding-left: -0.062em; }
        #hero .heroContainer .heroBackground .heroContentContainer .heroIMG {
          top: 3.812em;
          right: 8em; }
          #hero .heroContainer .heroBackground .heroContentContainer .heroIMG img {
            width: 27.75em; }
            #hero .heroContainer .heroBackground .heroContentContainer .heroIMG img:hover {
              opacity: 0.8; }
        #hero .heroContainer .heroBackground .heroContentContainer .heroText {
          top: 4.75em;
          right: 5em; }
          #hero .heroContainer .heroBackground .heroContentContainer .heroText p {
            font-size: 2.5em; }
          #hero .heroContainer .heroBackground .heroContentContainer .heroText h1 {
            font-size: 2.75em;
            line-height: 2.563em; } }

@media screen and (min-width: 1600px) {
  #hero {
    margin-left: auto;
    margin-right: auto; }
    #hero .heroContainer {
      padding-top: 2.688em; }
      #hero .heroContainer .heroBackground {
        margin-left: 14.75em;
        margin-right: 14.75em; }
        #hero .heroContainer .heroBackground .heroContentContainer {
          flex-wrap: nowrap;
          padding-left: -0.062em; }
          #hero .heroContainer .heroBackground .heroContentContainer .heroIMG {
            top: 1.812em;
            right: 14em; }
            #hero .heroContainer .heroBackground .heroContentContainer .heroIMG img {
              width: 28.125em;
              max-width: 550px; }
              #hero .heroContainer .heroBackground .heroContentContainer .heroIMG img:hover {
                opacity: 0.8; }
          #hero .heroContainer .heroBackground .heroContentContainer .heroText {
            top: 4.75em;
            right: 0em; }
            #hero .heroContainer .heroBackground .heroContentContainer .heroText p {
              font-size: 3.438em; }
            #hero .heroContainer .heroBackground .heroContentContainer .heroText h1 {
              font-size: 3.625em;
              line-height: 2.563em; } }

#nosotros {
  padding-top: 24%; }
  #nosotros .sectionHeader {
    background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
    padding-bottom: 5%; }
    #nosotros .sectionHeader .nosotros__title {
      padding-top: 5%; }
    #nosotros .sectionHeader .nosotros__text {
      padding-top: 5%;
      padding-left: 0.5em;
      padding-right: 0.5em; }
    #nosotros .sectionHeader .nosotros__img {
      padding-top: 5%; }
      #nosotros .sectionHeader .nosotros__img img {
        width: 90%;
        width: 15.625em;
        max-width: 330px;
        display: block;
        margin: auto; }

@media screen and (min-width: 481px) and (max-width: 768px) {
  #nosotros {
    padding-top: 15%; }
    #nosotros .sectionHeader .nosotros__title h2 {
      font-size: 2.8em; }
    #nosotros .sectionHeader .nosotros__text {
      padding-left: 2.5em;
      padding-right: 2.5em; }
      #nosotros .sectionHeader .nosotros__text p {
        font-size: 1.5em; }
    #nosotros .sectionHeader .nosotros__img {
      padding-top: 5%; }
      #nosotros .sectionHeader .nosotros__img img {
        width: 25em;
        max-width: 490px;
        display: block;
        margin: auto; } }

@media screen and (min-width: 769px) and (max-width: 1024px) {
  #nosotros {
    padding-top: 11%; }
    #nosotros .sectionHeader .nosotros__title h2 {
      font-size: 2.8em;
      text-align: center; }
    #nosotros .sectionHeader .nosotros_header_content {
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center; }
      #nosotros .sectionHeader .nosotros_header_content .nosotros__text {
        padding-left: 2.5em;
        padding-right: 2.5em;
        position: relative;
        display: inline-block; }
        #nosotros .sectionHeader .nosotros_header_content .nosotros__text p {
          font-size: 1.2em;
          text-align: left;
          white-space: normal; }
      #nosotros .sectionHeader .nosotros_header_content .nosotros__img {
        padding-top: 5%;
        padding-right: 28px; }
        #nosotros .sectionHeader .nosotros_header_content .nosotros__img img {
          width: 18em;
          max-width: 490px;
          display: block;
          margin: auto; } }

@media screen and (min-width: 1025px) and (max-width: 1200px) {
  #nosotros {
    margin-top: 10%; }
    #nosotros .sectionHeader .nosotros__title h2 {
      font-size: 2.8em;
      text-align: center; }
    #nosotros .sectionHeader .nosotros_header_content {
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center; }
      #nosotros .sectionHeader .nosotros_header_content .nosotros__text {
        padding-left: 7.5em;
        padding-right: 2.5em;
        display: inline-block; }
        #nosotros .sectionHeader .nosotros_header_content .nosotros__text p {
          font-size: 1.5em;
          text-align: left;
          white-space: normal; }
      #nosotros .sectionHeader .nosotros_header_content .nosotros__img {
        padding-top: 5%;
        padding-right: 65px; }
        #nosotros .sectionHeader .nosotros_header_content .nosotros__img img {
          width: 21em;
          max-width: 490px;
          display: block;
          margin: auto; } }

@media screen and (min-width: 1201px) {
  #nosotros {
    margin-top: 5%; }
    #nosotros .sectionHeader .nosotros__title h2 {
      font-size: 3em;
      text-align: center; }
    #nosotros .sectionHeader .nosotros_header_content {
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center; }
      #nosotros .sectionHeader .nosotros_header_content .nosotros__text {
        padding-left: 9.5em;
        padding-right: 2.5em;
        display: inline-block; }
        #nosotros .sectionHeader .nosotros_header_content .nosotros__text p {
          font-size: 1.7em;
          text-align: left;
          white-space: normal; }
      #nosotros .sectionHeader .nosotros_header_content .nosotros__img {
        padding-top: 5%;
        padding-right: 125px; }
        #nosotros .sectionHeader .nosotros_header_content .nosotros__img img {
          width: 21em;
          max-width: 490px;
          display: block;
          margin: auto; } }

#nosotros .sectionContent {
  padding-top: 10%; }
  #nosotros .sectionContent .nosCards .nosCardContent {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 8%; }
    #nosotros .sectionContent .nosCards .nosCardContent .cardIMG img {
      width: 6.25em; }
    #nosotros .sectionContent .nosCards .nosCardContent .cardText {
      text-align: center;
      padding-top: 5%; }
      #nosotros .sectionContent .nosCards .nosCardContent .cardText h3 {
        font-family: "Fjalla One", sans-serif;
        font-size: 2em;
        color: #1A83DE; }
      #nosotros .sectionContent .nosCards .nosCardContent .cardText p {
        font-family: "Noto Sans", sans-serif;
        font-weight: 400;
        font-size: 1.2em;
        color: #141414; }

@media screen and (min-width: 769px) and (max-width: 1024px) {
  #nosotros .sectionContent {
    padding-top: 10%; }
    #nosotros .sectionContent .nosCards {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-evenly; }
      #nosotros .sectionContent .nosCards .nosCardContent {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 8%;
        height: auto;
        width: 60px; }
        #nosotros .sectionContent .nosCards .nosCardContent .cardIMG img {
          width: 6.25em; }
        #nosotros .sectionContent .nosCards .nosCardContent .cardText {
          text-align: center;
          padding-top: 5%; }
          #nosotros .sectionContent .nosCards .nosCardContent .cardText h3 {
            font-family: "Fjalla One", sans-serif;
            font-size: 2em;
            color: #1A83DE; }
          #nosotros .sectionContent .nosCards .nosCardContent .cardText p {
            font-family: "Noto Sans", sans-serif;
            font-weight: 400;
            font-size: 1.2em;
            color: #141414; } }

@media screen and (min-width: 1025px) and (max-width: 1200px) {
  #nosotros .sectionContent {
    padding-top: 10%; }
    #nosotros .sectionContent .nosCards {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-evenly; }
      #nosotros .sectionContent .nosCards .nosCardContent {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 8%;
        height: auto;
        width: 100%;
        flex: auto; }
        #nosotros .sectionContent .nosCards .nosCardContent .cardIMG img {
          width: 6.25em; }
        #nosotros .sectionContent .nosCards .nosCardContent .cardText {
          text-align: center;
          padding-top: 5%; }
          #nosotros .sectionContent .nosCards .nosCardContent .cardText h3 {
            font-family: "Fjalla One", sans-serif;
            font-size: 2em;
            color: #1A83DE; }
          #nosotros .sectionContent .nosCards .nosCardContent .cardText p {
            font-family: "Noto Sans", sans-serif;
            font-weight: 400;
            font-size: 1.2em;
            color: #141414; } }

@media screen and (min-width: 1201px) {
  #nosotros .sectionContent {
    padding-top: 5%; }
    #nosotros .sectionContent .nosCards {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around; }
      #nosotros .sectionContent .nosCards .nosCardContent {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 8%;
        height: auto;
        width: 100%;
        flex: auto; }
        #nosotros .sectionContent .nosCards .nosCardContent .cardIMG img {
          width: 7em; }
        #nosotros .sectionContent .nosCards .nosCardContent .cardText {
          text-align: center;
          padding-top: 5%; }
          #nosotros .sectionContent .nosCards .nosCardContent .cardText h3 {
            font-family: "Fjalla One", sans-serif;
            font-size: 2.5em;
            color: #1A83DE; }
          #nosotros .sectionContent .nosCards .nosCardContent .cardText p {
            font-family: "Noto Sans", sans-serif;
            font-weight: 400;
            font-size: 1.5em;
            color: #141414; } }

#nosotros .sectionContent .nosTeamCards {
  padding-top: 10%; }
  #nosotros .sectionContent .nosTeamCards h2 {
    padding-bottom: 25%; }
  #nosotros .sectionContent .nosTeamCards .teamCardsContent {
    border: 1px solid #7FBBF0;
    border-radius: 20px;
    width: 90%;
    margin: auto;
    margin-bottom: 10%; }
    #nosotros .sectionContent .nosTeamCards .teamCardsContent .cardIMG {
      width: 80%;
      display: block;
      margin: auto;
      padding-top: 4%;
      padding-bottom: 4%; }
      #nosotros .sectionContent .nosTeamCards .teamCardsContent .cardIMG img {
        width: 80%;
        margin: auto;
        display: block; }
    #nosotros .sectionContent .nosTeamCards .teamCardsContent .cardText {
      width: 100%; }
      #nosotros .sectionContent .nosTeamCards .teamCardsContent .cardText h3 {
        font-family: "Noto Sans", sans-serif;
        font-weight: 700;
        background: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
        color: #ffff;
        text-align: center; }
      #nosotros .sectionContent .nosTeamCards .teamCardsContent .cardText p {
        font-family: "Noto Sans", sans-serif;
        font-weight: 400;
        font-size: small;
        color: #141414;
        text-align: center; }

@media screen and (min-width: 481px) and (max-width: 768px) {
  #nosotros .sectionContent .nosTeamCards {
    padding-top: 5%; }
    #nosotros .sectionContent .nosTeamCards h2 {
      padding-bottom: 15%; }
    #nosotros .sectionContent .nosTeamCards .teamCardsContent {
      border: 2px solid #7FBBF0;
      width: 60%; }
      #nosotros .sectionContent .nosTeamCards .teamCardsContent .cardIMG {
        width: 70%; }
      #nosotros .sectionContent .nosTeamCards .teamCardsContent .cardText p {
        font-size: 2.5vw; } }

@media screen and (min-width: 769px) and (max-width: 1024px) {
  #nosotros .sectionContent .nosTeamCards {
    padding-top: 5%; }
    #nosotros .sectionContent .nosTeamCards h2 {
      padding-bottom: 15%; }
    #nosotros .sectionContent .nosTeamCards .teamCardsContainer {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between; }
      #nosotros .sectionContent .nosTeamCards .teamCardsContainer .teamCardsContent {
        border: 2px solid #7FBBF0;
        width: 250px;
        height: 400px; }
        #nosotros .sectionContent .nosTeamCards .teamCardsContainer .teamCardsContent .cardIMG img {
          width: 90%; }
        #nosotros .sectionContent .nosTeamCards .teamCardsContainer .teamCardsContent .cardText p {
          font-size: 2.3vw; } }

@media screen and (min-width: 1025px) and (max-width: 1200px) {
  #nosotros .sectionContent .nosTeamCards {
    padding-top: 5%; }
    #nosotros .sectionContent .nosTeamCards h2 {
      padding-bottom: 15%; }
    #nosotros .sectionContent .nosTeamCards .teamCardsContainer {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between; }
      #nosotros .sectionContent .nosTeamCards .teamCardsContainer .teamCardsContent {
        border: 2px solid #7FBBF0;
        width: 290px;
        height: 410px; }
        #nosotros .sectionContent .nosTeamCards .teamCardsContainer .teamCardsContent .cardIMG img {
          width: 90%; }
        #nosotros .sectionContent .nosTeamCards .teamCardsContainer .teamCardsContent .cardText p {
          font-size: 2vw; } }

@media screen and (min-width: 1201px) {
  #nosotros .sectionContent .nosTeamCards {
    padding-top: 5%; }
    #nosotros .sectionContent .nosTeamCards h2 {
      padding-bottom: 5%; }
    #nosotros .sectionContent .nosTeamCards .teamCardsContainer {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between; }
      #nosotros .sectionContent .nosTeamCards .teamCardsContainer .teamCardsContent {
        border: 2px solid #7FBBF0;
        width: 350px;
        height: 470px; }
        #nosotros .sectionContent .nosTeamCards .teamCardsContainer .teamCardsContent .cardIMG img {
          width: 90%; }
          #nosotros .sectionContent .nosTeamCards .teamCardsContainer .teamCardsContent .cardIMG img:hover {
            opacity: 0.5; }
        #nosotros .sectionContent .nosTeamCards .teamCardsContainer .teamCardsContent .cardText p {
          font-size: 1.563em; } }

#alumnos {
  padding-top: 24%; }
  #alumnos .sectionHeader {
    background-image: linear-gradient(to top, #F8BB95 0%, #E93F70 100%);
    padding-bottom: 5%; }
    #alumnos .sectionHeader .alumnos__title {
      padding-top: 5%; }
    #alumnos .sectionHeader .alumnos__text {
      padding-top: 5%;
      padding-left: 0.5em;
      padding-right: 0.5em; }
    #alumnos .sectionHeader .alumnos__img {
      padding-top: 5%; }
      #alumnos .sectionHeader .alumnos__img img {
        width: 90%;
        width: 15.625em;
        max-width: 330px;
        display: block;
        margin: auto; }
  #alumnos .sectionContent .alumnos__cards {
    padding-top: 10%; }
    #alumnos .sectionContent .alumnos__cards .alumnosCardsContainer .aluCard {
      padding-left: 10%;
      padding-right: 10%;
      padding-bottom: 20%; }
      #alumnos .sectionContent .alumnos__cards .alumnosCardsContainer .aluCard img {
        width: 40%;
        display: block;
        margin: auto; }
      #alumnos .sectionContent .alumnos__cards .alumnosCardsContainer .aluCard h3 {
        font-family: "Noto Sans", sans-serif;
        font-weight: 700;
        color: #FD9830;
        text-align: center;
        padding-top: 5%;
        font-size: 2em; }
      #alumnos .sectionContent .alumnos__cards .alumnosCardsContainer .aluCard p {
        font-family: "Noto Sans", sans-serif;
        font-weight: 400;
        font-size: 1.2em;
        color: #141414;
        text-align: center; }
      #alumnos .sectionContent .alumnos__cards .alumnosCardsContainer .aluCard .btn {
        display: flex;
        align-items: center;
        justify-content: center; }

@media screen and (min-width: 481px) and (max-width: 768px) {
  #alumnos {
    padding-top: 15%; }
    #alumnos .sectionHeader .alumnos__title h2 {
      font-size: 2.8em; }
    #alumnos .sectionHeader .alumnos__text {
      padding-left: 2.5em;
      padding-right: 2.5em; }
      #alumnos .sectionHeader .alumnos__text p {
        font-size: 1.5em; }
    #alumnos .sectionHeader .alumnos__img {
      padding-top: 5%; }
      #alumnos .sectionHeader .alumnos__img img {
        width: 25em;
        max-width: 490px;
        display: block;
        margin: auto; } }

@media screen and (min-width: 769px) and (max-width: 1024px) {
  #alumnos {
    padding-top: 11%; }
    #alumnos .sectionHeader .alumnos__title h2 {
      font-size: 2.8em;
      text-align: center; }
    #alumnos .sectionHeader .alumnos_header_content {
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center; }
      #alumnos .sectionHeader .alumnos_header_content .alumnos__text {
        padding-left: 2.5em;
        padding-right: 2.5em;
        position: relative;
        display: inline-block; }
        #alumnos .sectionHeader .alumnos_header_content .alumnos__text p {
          font-size: 1.2em;
          text-align: left;
          white-space: normal; }
      #alumnos .sectionHeader .alumnos_header_content .alumnos__img {
        padding-top: 5%;
        padding-right: 28px; }
        #alumnos .sectionHeader .alumnos_header_content .alumnos__img img {
          width: 18em;
          max-width: 490px;
          display: block;
          margin: auto; } }

@media screen and (min-width: 1025px) {
  #alumnos {
    padding-top: 11%; }
    #alumnos .sectionHeader .alumnos__title h2 {
      font-size: 3em;
      text-align: center; }
    #alumnos .sectionHeader .alumnos_header_content {
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center; }
      #alumnos .sectionHeader .alumnos_header_content .alumnos__text {
        padding-left: 2.5em;
        padding-right: 2.5em;
        position: relative;
        display: inline-block; }
        #alumnos .sectionHeader .alumnos_header_content .alumnos__text p {
          font-size: 1.8em;
          text-align: left;
          white-space: normal; }
      #alumnos .sectionHeader .alumnos_header_content .alumnos__img {
        padding-top: 5%;
        padding-right: 28px; }
        #alumnos .sectionHeader .alumnos_header_content .alumnos__img img {
          width: 18em;
          max-width: 490px;
          display: block;
          margin: auto; } }

@media screen and (min-width: 769px) and (max-width: 1024px) {
  #alumnos .sectionContent {
    padding-top: 10%; }
    #alumnos .sectionContent .alumnos__cards {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-evenly; }
      #alumnos .sectionContent .alumnos__cards .alumnosCardsContainer .aluCard img {
        width: 40%; }
      #alumnos .sectionContent .alumnos__cards .alumnosCardsContainer .aluCard h3 {
        font-size: 25px; }
      #alumnos .sectionContent .alumnos__cards .alumnosCardsContainer .aluCard p {
        font-size: 16px; } }

@media screen and (min-width: 1025px) and (max-width: 1200px) {
  #alumnos .sectionContent {
    padding-top: 10%; }
    #alumnos .sectionContent .alumnos__cards {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-evenly; }
      #alumnos .sectionContent .alumnos__cards .alumnosCardsContainer .aluCard img {
        width: 45%; }
      #alumnos .sectionContent .alumnos__cards .alumnosCardsContainer .aluCard h3 {
        font-size: 28px; }
      #alumnos .sectionContent .alumnos__cards .alumnosCardsContainer .aluCard p {
        font-size: 18px; } }

@media screen and (min-width: 1201px) {
  #alumnos .sectionContent {
    padding-top: 5%; }
    #alumnos .sectionContent .alumnos__cards {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-evenly; }
      #alumnos .sectionContent .alumnos__cards .alumnosCardsContainer .aluCard img {
        width: 30%; }
      #alumnos .sectionContent .alumnos__cards .alumnosCardsContainer .aluCard h3 {
        font-size: 28px; }
      #alumnos .sectionContent .alumnos__cards .alumnosCardsContainer .aluCard p {
        font-size: 18px; } }

#docentes {
  padding-top: 24%; }
  #docentes .sectionHeader {
    background-image: linear-gradient(to top, #4242FF 0%, #E93F70 100%);
    padding-bottom: 5%; }
    #docentes .sectionHeader .docentes__title {
      padding-top: 5%; }
    #docentes .sectionHeader .docentes__text {
      padding-top: 5%;
      padding-left: 0.5em;
      padding-right: 0.5em; }
    #docentes .sectionHeader .docentes__img {
      padding-top: 5%; }
      #docentes .sectionHeader .docentes__img img {
        width: 90%;
        width: 15.625em;
        max-width: 330px;
        display: block;
        margin: auto; }
  #docentes .sectionContent .docentes__cards {
    padding-top: 10%; }
    #docentes .sectionContent .docentes__cards .docentesCardsContainer .docCard {
      padding-left: 10%;
      padding-right: 10%;
      padding-bottom: 20%; }
      #docentes .sectionContent .docentes__cards .docentesCardsContainer .docCard img {
        width: 40%;
        display: block;
        margin: auto; }
      #docentes .sectionContent .docentes__cards .docentesCardsContainer .docCard h3 {
        font-family: "Noto Sans", sans-serif;
        font-weight: 700;
        color: #FD9830;
        text-align: center;
        padding-top: 5%;
        font-size: 2em; }
      #docentes .sectionContent .docentes__cards .docentesCardsContainer .docCard p {
        font-family: "Noto Sans", sans-serif;
        font-weight: 400;
        font-size: 1.2em;
        color: #141414;
        text-align: center; }
      #docentes .sectionContent .docentes__cards .docentesCardsContainer .docCard .btn {
        display: flex;
        align-items: center;
        justify-content: center; }

@media screen and (min-width: 481px) and (max-width: 768px) {
  #docentes {
    padding-top: 15%; }
    #docentes .sectionHeader .docentes__title h2 {
      font-size: 2.8em; }
    #docentes .sectionHeader .docentes__text {
      padding-left: 2.5em;
      padding-right: 2.5em; }
      #docentes .sectionHeader .docentes__text p {
        font-size: 1.5em; }
    #docentes .sectionHeader .docentes__img {
      padding-top: 5%; }
      #docentes .sectionHeader .docentes__img img {
        width: 25em;
        max-width: 490px;
        display: block;
        margin: auto; } }

@media screen and (min-width: 769px) and (max-width: 1024px) {
  #docentes {
    padding-top: 11%; }
    #docentes .sectionHeader .docentes__title h2 {
      font-size: 2.8em;
      text-align: center; }
    #docentes .sectionHeader .docentes_header_content {
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center; }
      #docentes .sectionHeader .docentes_header_content .docentes__text {
        padding-left: 2.5em;
        padding-right: 2.5em;
        position: relative;
        display: inline-block; }
        #docentes .sectionHeader .docentes_header_content .docentes__text p {
          font-size: 1.2em;
          text-align: left;
          white-space: normal; }
      #docentes .sectionHeader .docentes_header_content .docentes__img {
        padding-top: 5%;
        padding-right: 28px; }
        #docentes .sectionHeader .docentes_header_content .docentes__img img {
          width: 18em;
          max-width: 490px;
          display: block;
          margin: auto; } }

@media screen and (min-width: 1025px) {
  #docentes {
    padding-top: 11%; }
    #docentes .sectionHeader .docentes__title h2 {
      font-size: 3em;
      text-align: center; }
    #docentes .sectionHeader .docentes_header_content {
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center; }
      #docentes .sectionHeader .docentes_header_content .docentes__text {
        padding-left: 2.5em;
        padding-right: 2.5em;
        position: relative;
        display: inline-block; }
        #docentes .sectionHeader .docentes_header_content .docentes__text p {
          font-size: 1.8em;
          text-align: left;
          white-space: normal; }
      #docentes .sectionHeader .docentes_header_content .docentes__img {
        padding-top: 5%;
        padding-right: 28px; }
        #docentes .sectionHeader .docentes_header_content .docentes__img img {
          width: 18em;
          max-width: 490px;
          display: block;
          margin: auto; } }

@media screen and (min-width: 769px) and (max-width: 1024px) {
  #docentes .sectionContent {
    padding-top: 10%; }
    #docentes .sectionContent .docentes__cards {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-evenly; }
      #docentes .sectionContent .docentes__cards .docentesCardsContainer .docCard .img {
        width: 30%; }
      #docentes .sectionContent .docentes__cards .docentesCardsContainer .docCard h3 {
        font-size: 25px; }
      #docentes .sectionContent .docentes__cards .docentesCardsContainer .docCard p {
        font-size: 16px; } }

@media screen and (min-width: 1025px) and (max-width: 1200px) {
  #docentes .sectionContent {
    padding-top: 10%; }
    #docentes .sectionContent .docentes__cards {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-evenly; }
      #docentes .sectionContent .docentes__cards .docentesCardsContainer .docCard img {
        width: 45%; }
      #docentes .sectionContent .docentes__cards .docentesCardsContainer .docCard h3 {
        font-size: 28px; }
      #docentes .sectionContent .docentes__cards .docentesCardsContainer .docCard p {
        font-size: 18px; } }

@media screen and (min-width: 1201px) {
  #docentes .sectionContent {
    padding-top: 5%; }
    #docentes .sectionContent .docentes__cards {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-evenly; }
      #docentes .sectionContent .docentes__cards .docentesCardsContainer .docCard img {
        width: 30%; }
      #docentes .sectionContent .docentes__cards .docentesCardsContainer .docCard h3 {
        font-size: 28px; }
      #docentes .sectionContent .docentes__cards .docentesCardsContainer .docCard p {
        font-size: 18px; } }

#bodCon {
  display: flex;
  flex-direction: column;
  align-items: center; }
  #bodCon .formHeader {
    text-align: center;
    background-image: linear-gradient(to top, #F8BB95 0%, #E93F70 100%);
    border: 1px solid #FD9830;
    border-radius: 10px;
    width: 80%;
    margin: 40px 0;
    padding: 50px; }
    #bodCon .formHeader h1 {
      font-family: "Fjalla One", sans-serif;
      color: #141414;
      margin-bottom: 30px; }
    #bodCon .formHeader p {
      font-family: "Noto Sans", sans-serif;
      font-weight: 700;
      color: #ffff; }
  #bodCon .consultaForm {
    background-color: #FFD5AD;
    border: 1px solid #FFD5AD;
    border-radius: 10px;
    width: 80%;
    padding: 50px;
    margin: 0 0 40px 0; }
    #bodCon .consultaForm .formRow {
      margin-bottom: 40px;
      display: flex;
      justify-content: self-start;
      flex-direction: column;
      flex-wrap: wrap; }
      #bodCon .consultaForm .formRow label {
        margin-bottom: 15px;
        font-weight: 700; }
      #bodCon .consultaForm .formRow input[type="text"], #bodCon .consultaForm .formRow input[type="email"], #bodCon .consultaForm .formRow textarea {
        background-color: #ffff;
        border: 1px solid #7FBBF0;
        border-radius: 5px;
        width: 100%;
        padding: 7px;
        font-size: 14px; }
        #bodCon .consultaForm .formRow input[type="text"]:invalid, #bodCon .consultaForm .formRow input[type="email"]:invalid, #bodCon .consultaForm .formRow textarea:invalid {
          border: 1px solid #E22840;
          color: #E22840;
          box-shadow: none; }
        #bodCon .consultaForm .formRow input[type="text"]:focus, #bodCon .consultaForm .formRow input[type="email"]:focus, #bodCon .consultaForm .formRow textarea:focus {
          border: 2px solid #00B0EF;
          box-shadow: none; }
      #bodCon .consultaForm .formRow button {
        width: 80%;
        margin: auto;
        text-transform: uppercase;
        font-weight: 700;
        color: #ffff;
        text-align: center;
        padding: 10px 40px;
        background: linear-gradient(to top, #F8BB95 0%, #E93F70 100%);
        border: 1px solid #ffff;
        border-radius: 10px;
        cursor: pointer; }
        #bodCon .consultaForm .formRow button:hover {
          background: linear-gradient(to top, #1A83DE 0%, #4242FF 100%); }

footer .schoolInf {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-image: url(../images/bkgimage.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 5%;
  padding-bottom: 5%; }
  footer .schoolInf .row .col-md-12 img {
    width: 20%;
    display: block;
    margin: auto; }
  footer .schoolInf .row .col-md-12 h4 {
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    color: #ffff;
    text-align: center; }
  footer .schoolInf .row .col-md-12 p {
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    color: #ffff;
    text-align: center; }

.pae-main-container .pae-header {
  width: 100%;
  height: 5.625em;
  background: linear-gradient(to right, #E93F70, #FD9830); }

.pae-title {
  background: #ffff;
  padding-top: 5%; }

.pae-tit-p {
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  color: #7FBBF0;
  text-align: left;
  font-size: 1.875em; }

.pae-tit-h1 {
  font-family: "Fjalla One", sans-serif;
  background-color: #1A83DE;
  color: #ffff;
  text-align: left;
  font-size: 3em;
  padding-left: 4%;
  padding-right: 1%;
  padding-bottom: 3%;
  padding-top: 3%; }

.pae-logo-institucional img {
  width: 30%;
  display: block;
  margin: auto; }

.school-name {
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  color: #141414;
  text-align: center;
  font-size: 2em; }

.pae-form {
  background-color: #FD9830;
  width: 100%;
  height: 40.625em; }
  .pae-form .arrow-down {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #ffff;
    margin: auto; }
  .pae-form .main-form {
    background-color: #ffff;
    width: 400px;
    height: 400px;
    margin: 4em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14); }
    .pae-form .main-form .sign {
      padding-top: 40px;
      color: #1A83DE;
      font-family: "Noto Sans", sans-serif;
      font-weight: 700;
      font-size: 30px;
      text-align: center; }
    .pae-form .main-form .form1 {
      padding-top: 40px; }
      .pae-form .main-form .form1 .un {
        width: 76%;
        color: #263238;
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 1px;
        background: rgba(136, 126, 126, 0.04);
        padding: 10px 20px;
        border: none;
        border-radius: 20px;
        outline: none;
        box-sizing: border-box;
        border: 2px solid rgba(0, 0, 0, 0.02);
        margin-bottom: 50px;
        margin-left: 46px;
        text-align: center;
        margin-bottom: 27px;
        font-family: "Noto Sans", sans-serif; }
        .pae-form .main-form .form1 .un:focus {
          border: 2px solid rgba(0, 0, 0, 0.18) !important; }
      .pae-form .main-form .form1 .pass {
        width: 76%;
        color: #263238;
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 1px;
        background: rgba(136, 126, 126, 0.04);
        padding: 10px 20px;
        border: none;
        border-radius: 20px;
        outline: none;
        box-sizing: border-box;
        border: 2px solid rgba(0, 0, 0, 0.02);
        margin-bottom: 50px;
        margin-left: 46px;
        text-align: center;
        margin-bottom: 27px;
        font-family: "Noto Sans", sans-serif; }
        .pae-form .main-form .form1 .pass:focus {
          border: 2px solid rgba(0, 0, 0, 0.18) !important; }
      .pae-form .main-form .form1 .submit {
        cursor: pointer;
        border-radius: 5em;
        color: #ffff;
        background: linear-gradient(to right, #FD9830, #FFD5AD);
        border: 0;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 10px;
        padding-top: 10px;
        font-family: "Noto Sans", sans-serif;
        margin-left: 35%;
        font-size: 13px;
        font-weight: 700;
        box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04); }
        .pae-form .main-form .form1 .submit:hover {
          background: linear-gradient(to right, #00B0EF, #1A83DE); }
      .pae-form .main-form .form1 .forgot {
        text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
        color: #7FBBF0;
        font-family: "Noto Sans", sans-serif;
        font-weight: 400;
        text-align: center;
        font-size: 1em;
        padding-top: 5%; }
      .pae-form .main-form .form1 a {
        text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
        color: #7FBBF0;
        text-decoration: none; }
        .pae-form .main-form .form1 a:hover {
          color: #141414;
          text-decoration: underline;
          text-decoration-color: #FFD5AD; }

@media screen and (min-width: 320px) and (max-width: 480px) {
  .pae-main-container .pae-form .main-form {
    width: 290px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column; }
    .pae-main-container .pae-form .main-form .form1 input {
      margin-left: 40px;
      margin-right: 60px; }
    .pae-main-container .pae-form .main-form .form1 a {
      margin-left: 85px; }
    .pae-main-container .pae-form .main-form .form1 p {
      margin-left: -69px; } }

#bodContacto {
  display: flex;
  flex-direction: column;
  align-items: center; }
  #bodContacto .formHeader {
    text-align: center;
    background-image: linear-gradient(to top, #1A83DE 0%, #4242FF 100%);
    border: 1px solid #00B0EF;
    border-radius: 10px;
    width: 80%;
    margin: 40px 0;
    padding: 50px; }
    #bodContacto .formHeader h1 {
      font-family: "Fjalla One", sans-serif;
      color: #141414;
      margin-bottom: 30px; }
    #bodContacto .formHeader p {
      font-family: "Noto Sans", sans-serif;
      font-weight: 700;
      color: #ffff; }
  #bodContacto .consultaForm {
    background-color: #7FBBF0;
    border: 1px solid #7FBBF0;
    border-radius: 10px;
    width: 80%;
    padding: 50px;
    margin: 0 0 40px 0; }
    #bodContacto .consultaForm .formRow {
      margin-bottom: 40px;
      display: flex;
      justify-content: self-start;
      flex-direction: column;
      flex-wrap: wrap; }
      #bodContacto .consultaForm .formRow label {
        margin-bottom: 15px;
        font-weight: 700; }
      #bodContacto .consultaForm .formRow input[type="text"], #bodContacto .consultaForm .formRow input[type="email"], #bodContacto .consultaForm .formRow textarea {
        background-color: #ffff;
        border: 1px solid #7FBBF0;
        border-radius: 5px;
        width: 100%;
        padding: 7px;
        font-size: 14px; }
        #bodContacto .consultaForm .formRow input[type="text"]:invalid, #bodContacto .consultaForm .formRow input[type="email"]:invalid, #bodContacto .consultaForm .formRow textarea:invalid {
          border: 1px solid #E22840;
          color: #E22840;
          box-shadow: none; }
        #bodContacto .consultaForm .formRow input[type="text"]:focus, #bodContacto .consultaForm .formRow input[type="email"]:focus, #bodContacto .consultaForm .formRow textarea:focus {
          border: 2px solid #4242FF;
          box-shadow: none; }
      #bodContacto .consultaForm .formRow button {
        width: 80%;
        margin: auto;
        text-transform: uppercase;
        font-weight: 700;
        color: #00B0EF;
        text-align: center;
        padding: 10px 40px;
        background: #ffff;
        border: 1px solid #ffff;
        border-radius: 10px;
        cursor: pointer; }
        #bodContacto .consultaForm .formRow button:hover {
          background: linear-gradient(to top, #1A83DE 0%, #4242FF 100%);
          color: #ffff; }
