$colorPrimario: #FD9830;
$colorPrimarioLight: #FFD5AD;
$colorSecundario: #1A83DE;
$colorSecundarioLight: #7FBBF0;
$colorTerciario: #00B0EF;
$colorOscuro: #141414;
$colorClaro: #F4F5F5;
$colorBlanco: #ffff;
$fondoSeccion: #DAEBFB;
$fondoBody: #F2F5F7;
$naranja1: #F8BB95;
$naranja2: #E93F70;
$azulfuerte: #4242FF