//BODY
body {
    background: $colorBlanco;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.btn_a {
    @extend %linksbtn;
}

// SEPARADOR CONTACTO INDEX
#contactoHeaderIndex {
    margin-top: 30px;
    .Cont {
        background: $colorPrimario;
        .contenido {
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 80px;
            a {
                font-family: $bodyFont;
                font-weight: 700;
                color: $colorPrimario;
                text-decoration: none;
                border: 1px solid $colorBlanco;
                border-radius: 20px;
                padding: 10px;
                background-color: $colorClaro;
                &:hover {
                    opacity: 0.9;
                }
            }
        }
    }
}
